
    <p *ngIf="blueClass">
        Button is blue.
    </p>

<button (click)="blueClass=!blueClass" [ngClass]="{blue: blueClass}" [ngStyle]="{'font-size.px': fontSize}">Change</button>
<hr>

<input (keyup)="changeImage($event)" [value]="imageUrl">

<app-post *ngFor="let image of images; let i= index" [img]="image" (imageSelected)="logImg($event)">
    <p>
        {{i}} This is the content of the first post
    </p>
</app-post>
<h1>Hello from Angular and the creator name is {{ name | titlecase }}</h1>
<h1>Hello from Angular and the creator name is {{ getName() }}!</h1>

<p>{{15 + 13}}</p>
<p>{{ currentDate | date: 'medium' }}</p>
<p>{{cost | currency:'INR'}}</p>
<p>{{temprature | number: '1.0-0'}}</p>
<pre>{{pizza | json}}</pre>